
/*
=================
Circles
=================
*/

.circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 40px;
    color: #000;
    text-align: center;
    background: rgb(223, 217, 217)
  }
  .circle:hover {
   cursor: pointer;
  }

  .circle-middle{
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    font-size: 40px;
    color: #000;
    text-align: center;
    background: rgb(247, 229, 68)
  }

  .circle-middle:hover {

  }
  /*
=================
Boxes
=================
*/
    .wrapper {
    
    }  
  .main-box {
    display: flex;
    justify-content: center;
    margin-top: 400px;
    }

  .display-box {
    display: flex;
    justify-content: center;
    font-size: 40px;
    height: 40px;
  }

  .circle-1 {
      padding: 5px;
      margin-top: 160px;
  }

  .circle-2 {
    padding: 5px;
    
}

.circle-3 {
    padding: 5px;
   
}
.circle-center {
    padding: 5px;
    
}
.circle-5 {
    padding: 5px;
    
}
.circle-6 {
    padding: 5px;
    margin-top: 160px; 
}
.circle-7 {
    padding: 5px;
    
}

  /*
=================
Row
=================
*/

.column {
float: left;
}


  /*
=================
Buttons
=================
*/

.delete-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:20px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:20px 40px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    outline: none;
}
.delete-button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.delete-button:active {
	position:relative;
	top:1px;
}

.enter-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:20px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:20px 45px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    outline: none;
}
.enter-button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.enter-button:active {
	position:relative;
	top:1px;
}

  /*
=================
Text
=================
*/

.invalid-length {
    color: red;
    font-size: 21px;
}
